@font-face {
    font-family: M-Regular;
    src: url(assets/MonumentExtended-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: M-Regular;

}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}


.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;

}

.d-flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader {
    width: 100%;
    height: 100vh;
    gap: 2vw;
    justify-content: start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: black;
}


.text-loader {
    font-size: 2rem;
    opacity: 0;
}

.text-21 {
    margin-left: 8vw;

}

.text-57 {
    margin-left: 12vw;

}

.text-95 {
    margin-left: 18vw;
}

.text-85 {
    margin-left: 10vw;
}


.fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.flex-content {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.cntr-p,
.cntr-p2 {
    text-align: center;
    z-index: 999;
    font-size: 1.2rem;
}

.nav {
    margin-top: 2vh;
    gap: 2vw;
}

.nav a {
    text-decoration: none;
    color: #fff;
    z-index: inherit;
    font-size: 1rem;
}

.section {
    width: 100%;
    height: 100vh;
    font-size: 3rem;
}

.heading {
    font-size: 13rem;
}

#one-txt {
    position: absolute;
    top: 120%;
}

.section-img {
    position: relative;
    margin-left: 35%;
    width: 30%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    z-index: 99999;
    cursor: pointer;
}

#img-1 {
    background-image: url(assets/img1.webp);
}

#img-2 {
    background-image: url(assets/img2.webp);
}

#img-3 {
    background-image: url(assets/img3.webp);
}

#img-4 {
    background-image: url(assets/img4.webp);
}

#img-5 {
    background-image: url(assets/img5.webp);
}

#img-6 {
    background-image: url(assets/img6.webp);
}

#img-7 {
    background-image: url(assets/img7.webp);
}

.last {
    height: 100vh;
}

@media (max-width:480px) {
    .heading {
        font-size: 3rem;
    }

    .section-img {
        width: 80%;
        height: 60%;
        background-size: 90%;
        margin-left: 10%;
    }

    .text-loader {
        font-size: 0.5rem;
    }

}